<footer class="bg-dark text-white mt-5 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5><i class="bi bi-shop"></i> PETFY</h5>
        <p>Tu tienda online de confianza para productos de mascotas.</p>
      </div>
      <div class="col-md-4">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/productos" class="text-white">Productos</a></li>
          <li><a routerLink="/categorias" class="text-white">Categorías</a></li>
          <li><a routerLink="/acerca-de" class="text-white">Acerca de</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contacto</h5>
        <p><i class="bi bi-envelope"></i> info&#64;petfy.com</p>
        <p><i class="bi bi-telephone"></i> 900 111 111</p>
      </div>
    </div>
    <hr class="bg-white">
    <div class="text-center">
      <p>&copy; 2026 - PETFY - TFG DAW </p>
    </div>
  </div>
</footer>
